---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Institut-Le-Rosey-CH">
  <main>
    <section
      class="mx-auto grid min-h-screen max-w-3xl place-content-center gap-4 p-8">
      <p class="text-lg tracking-wide">Institut-Le-Rosey-CH&rsquo;s Wiki</p>
      <h1 class="pb-4 text-6xl font-bold">
        APTAGENIX 2.0 🥶<br />
        The Future Is Near!!!
      </h1>
      <p class="text-xl tracking-wide">
        The inexpensive, non-invasive kit that makes detecting non-small cell
        lung cancer easier and more accessible for everyone.
      </p>
      <div class="flex gap-2 pt-4">
        <a
          href="#get-started"
          class="rounded-md bg-neutral-700 px-8 py-3 text-white"
          >Get Started 🚀</a
        >
        <a
          href="#learn-more"
          class="rounded-md border border-neutral-700 px-8 py-3"
          >Learn More 📖</a
        >
      </div>
    </section>

    <section class="grid min-h-screen place-content-center bg-neutral-200 p-8">
      <div class="mx-auto max-w-3xl">
        <p>
          Pariatur ullamco duis culpa aliqua magna laboris anim labore minim.
          Duis occaecat Lorem ullamco consectetur voluptate irure consectetur
          cillum anim tempor ut reprehenderit. Fugiat minim nulla minim enim
          reprehenderit voluptate laboris deserunt. Reprehenderit fugiat aute
          velit ullamco aliqua reprehenderit elit exercitation sunt ex esse
          minim. Laborum ea ex in laboris et enim ipsum ullamco ut eiusmod.
          Laboris elit eiusmod pariatur voluptate nostrud in anim nulla non.
          Minim adipisicing adipisicing nisi. Adipisicing dolor nisi excepteur
          aliqua do reprehenderit velit aliqua non consectetur consectetur anim
          ad. Adipisicing sunt commodo sunt irure sunt mollit ullamco laboris.
          Proident nisi mollit
        </p>
      </div>
    </section>
  </main>
</Layout>
