---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Institut-Le-Rosey-CH">
  <div class="grid place-items-center min-h-screen p-8">
    <section class="grid gap-y-2">
      <h1 class="text-4xl font-bold tracking-wide">Institut-Le-Rosey-CH</h1>
      <hr />
      <p class="text-xl">The Institut-Le-Rosey-CH iGEM Team Wiki</p>
    </section>
  </div>
</Layout>
