---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Institut-Le-Rosey-CH">
  <div
    class="mx-auto grid min-h-screen max-w-3xl place-items-center gap-y-4 p-8">
    <section class="flex flex-col gap-y-8">
      <span class="text-2xl tracking-wide">WELCOME TO</span>
      <h1 class="text-6xl leading-16 font-bold tracking-tight">
        Institut-Le-Rosey-CH&rsquo;s Project Wiki
      </h1>
      <p class="text-xl leading-8">
        The <i>inexpensive</i>, <i>non-invasive</i> kit that makes detecting non-small
        cell lung cancer easier and more accessible for everyone.
      </p>
      <p class="text-sm">
        © 2025 - Content on this site is licensed under a
        <b>Creative Commons Attribution 4.0 International license.</b><br />
        The repository used to create this website is available at
        <b>github.com/lucastheliu/igem-wiki</b>.
      </p>
    </section>
  </div>
</Layout>
