---

---

<footer class="grid place-content-center p-8">
  <p>
    © 2025 - Content on this site is licensed under a Creative Commons
    Attribution 4.0 International license.
  </p>
  <p>
    The repository used to create this website is available at
    github.com/lucastheliu/igem-wiki.
  </p>
</footer>
